<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Index</title>
  </head>
  <body>
    <% include ../../partial/admin_drawer %>
    <h1 class="my-5 text-center text-2xl font-bold text-base-content">
      All Departments
    </h1>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 m-2 gap-2">
      <div class="card glass w-80 lg:w-96 mx-auto">
        <div class="card-body">
          <h2 class="card-title text-center">Information Technology</h2>
          <div class="stats stats-horizontal shadow">
            <div class="stat">
              <div class="stat-title">Total Students</div>
              <div class="stat-value">100</div>
              <div class="stat-desc">All Class</div>
            </div>

            <div class="stat">
              <div class="stat-title">Total Teacher</div>
              <div class="stat-value">6</div>
              <div class="stat-desc">Current Department</div>
            </div>

            <div class="stat">
              <div class="stat-title">Total Class</div>
              <div class="stat-value">4</div>
              <div class="stat-desc">At Department</div>
            </div>
          </div>
          <div class="card-actions justify-end">
            <a href="/admin/departments/IT" class="btn btn-block btn-primary"
              >See more</a
            >
          </div>
        </div>
      </div>
      <div class="card glass w-80 lg:w-96 mx-auto">
        <div class="card-body">
          <h2 class="card-title text-center">Civil</h2>
          <div class="stats stats-horizontal shadow">
            <div class="stat">
              <div class="stat-title">Total Students</div>
              <div class="stat-value">100</div>
              <div class="stat-desc">All Class</div>
            </div>

            <div class="stat">
              <div class="stat-title">Total Teacher</div>
              <div class="stat-value">6</div>
              <div class="stat-desc">Current Department</div>
            </div>

            <div class="stat">
              <div class="stat-title">Total Class</div>
              <div class="stat-value">4</div>
              <div class="stat-desc">At Department</div>
            </div>
          </div>
          <div class="card-actions justify-end">
            <a href="/admin/departments/Civil" class="btn btn-block btn-primary"
              >See more</a
            >
          </div>
        </div>
      </div>
      <div class="card glass w-80 lg:w-96 mx-auto">
        <div class="card-body">
          <h2 class="card-title text-center">Electronic</h2>
          <div class="stats stats-horizontal shadow">
            <div class="stat">
              <div class="stat-title">Total Students</div>
              <div class="stat-value">100</div>
              <div class="stat-desc">All Class</div>
            </div>

            <div class="stat">
              <div class="stat-title">Total Teacher</div>
              <div class="stat-value">6</div>
              <div class="stat-desc">Current Department</div>
            </div>

            <div class="stat">
              <div class="stat-title">Total Class</div>
              <div class="stat-value">4</div>
              <div class="stat-desc">At Department</div>
            </div>
          </div>
          <div class="card-actions justify-end">
            <a href="/admin/departments/EC" class="btn btn-block btn-primary"
              >See more</a
            >
          </div>
        </div>
      </div>
      <div class="card glass w-80 lg:w-96 mx-auto">
        <div class="card-body">
          <h2 class="card-title text-center">Electrical Power</h2>
          <div class="stats stats-horizontal shadow">
            <div class="stat">
              <div class="stat-title">Total Students</div>
              <div class="stat-value">100</div>
              <div class="stat-desc">All Class</div>
            </div>

            <div class="stat">
              <div class="stat-title">Total Teacher</div>
              <div class="stat-value">6</div>
              <div class="stat-desc">Current Department</div>
            </div>

            <div class="stat">
              <div class="stat-title">Total Class</div>
              <div class="stat-value">4</div>
              <div class="stat-desc">At Department</div>
            </div>
          </div>
          <div class="card-actions justify-end">
            <a href="/admin/departments/EP" class="btn btn-block btn-primary"
              >See more</a
            >
          </div>
        </div>
      </div>
      <div class="card glass w-80 lg:w-96 mx-auto">
        <div class="card-body">
          <h2 class="card-title text-center">Mechanical Power</h2>
          <div class="stats stats-horizontal shadow">
            <div class="stat">
              <div class="stat-title">Total Students</div>
              <div class="stat-value">100</div>
              <div class="stat-desc">All Class</div>
            </div>

            <div class="stat">
              <div class="stat-title">Total Teacher</div>
              <div class="stat-value">6</div>
              <div class="stat-desc">Current Department</div>
            </div>

            <div class="stat">
              <div class="stat-title">Total Class</div>
              <div class="stat-value">4</div>
              <div class="stat-desc">At Department</div>
            </div>
          </div>
          <div class="card-actions justify-end">
            <a href="/admin/departments/MP" class="btn btn-block btn-primary"
              >See more</a
            >
          </div>
        </div>
      </div>
      <div class="card glass w-80 lg:w-96 mx-auto">
        <div class="card-body">
          <h2 class="card-title text-center">English</h2>
          <div class="stats stats-horizontal shadow">
            <div class="stat mx-auto">
              <div class="stat-title">Total Teacher</div>
              <div class="stat-value">11</div>
              <div class="stat-desc">Current Department</div>
            </div>
          </div>
          <div class="card-actions justify-end">
            <a href="/admin/departments/Eng" class="btn btn-block btn-primary"
              >See more</a
            >
          </div>
        </div>
      </div>
      <div class="card glass w-80 lg:w-96 mx-auto">
        <div class="card-body">
          <h2 class="card-title text-center">Mathematics</h2>
          <div class="stats stats-horizontal shadow">
            <div class="stat mx-auto">
              <div class="stat-title">Total Teacher</div>
              <div class="stat-value">11</div>
              <div class="stat-desc">Current Department</div>
            </div>
          </div>
          <div class="card-actions justify-end">
            <a href="/admin/departments/Math" class="btn btn-block btn-primary"
              >See more</a
            >
          </div>
        </div>
      </div>
      <div class="card glass w-80 lg:w-96 mx-auto">
        <div class="card-body">
          <h2 class="card-title text-center">Myanmar</h2>
          <div class="stats stats-horizontal shadow">
            <div class="stat mx-auto">
              <div class="stat-title">Total Teacher</div>
              <div class="stat-value">11</div>
              <div class="stat-desc">Current Department</div>
            </div>
          </div>
          <div class="card-actions justify-end">
            <a href="/admin/departments/Myan" class="btn btn-block btn-primary"
              >See more</a
            >
          </div>
        </div>
      </div>
      <div class="card glass w-80 lg:w-96 mx-auto">
        <div class="card-body">
          <h2 class="card-title text-center">Physic</h2>
          <div class="stats stats-horizontal shadow">
            <div class="stat mx-auto">
              <div class="stat-title">Total Teacher</div>
              <div class="stat-value">11</div>
              <div class="stat-desc">Current Department</div>
            </div>
          </div>
          <div class="card-actions justify-end">
            <a href="/admin/departments/Phy" class="btn btn-block btn-primary"
              >See more</a
            >
          </div>
        </div>
      </div>
      <div class="card glass w-80 lg:w-96 mx-auto">
        <div class="card-body">
          <h2 class="card-title text-center">Chemistery</h2>
          <div class="stats stats-horizontal shadow">
            <div class="stat mx-auto">
              <div class="stat-title">Total Teacher</div>
              <div class="stat-value">11</div>
              <div class="stat-desc">Current Department</div>
            </div>
          </div>
          <div class="card-actions justify-end">
            <a href="/admin/departments/Chem" class="btn btn-block btn-primary"
              >See more</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
