<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Index</title>
  </head>
  <body>
    <% include ./partial/puplic_drawer %>
    <div class="py-24 sm:py-32">
      <div
        class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
      >
        <div class="max-w-2xl">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Meet our project team
          </h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            We make a team to create awsome dyamic student attendance system for
            our university(TU pathein).Our project will be easy and useful for
            attendance manangement system.
          </p>
        </div>
        <ul
          role="list"
          class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
        >
          <li>
            <div class="flex items-center gap-x-6">
              <img
                class="h-16 w-16 rounded-full"
                src="/images/osk.jpg"
                alt=""
              />
              <div>
                <h3
                  class="text-base font-semibold leading-7 tracking-tight text-gray-900"
                >
                  Mg Oak Soe Khant
                </h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">
                  Leader
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img
                class="h-16 w-16 rounded-full"
                src="/images/neymt.jpg"
                alt=""
              />
              <div>
                <h3
                  class="text-base font-semibold leading-7 tracking-tight text-gray-900"
                >
                  Nant Ei Yi Mon Thaung
                </h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">
                  Co-Leader
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img
                class="h-16 w-16 rounded-full"
                src="/images/ppp.jpg"
                alt=""
              />
              <div>
                <h3
                  class="text-base font-semibold leading-7 tracking-tight text-gray-900"
                >
                  Mg Pyae Phyo Paing
                </h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">
                  Member
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img
                class="h-16 w-16 rounded-full"
                src="/images/shlpo.jpg"
                alt=""
              />
              <div>
                <h3
                  class="text-base font-semibold leading-7 tracking-tight text-gray-900"
                >
                  Ma Saung Hnin Lay Pyay Oo
                </h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">
                  Member
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <% include ./partial/footer %>
  </body>
</html>
