<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/splide.min.js"></script>
    <link href="/stylesheets/splide.min.css" rel="stylesheet" />
    <title>Index</title>
  </head>
  <body class="min-h-screen bg-neutral-content">
    <% include ./partial/puplic_drawer %>
    <div
      class="splide h-96"
      role="group"
      aria-label="Splide Basic HTML Example"
    >
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide" data-splide-interval="3000">
            <img src="/images/home-1.jpg" class="h-96 w-full cover" alt="" />
          </li>
          <li class="splide__slide" data-splide-interval="3000">
            <img src="/images/home-2.jpg" alt="" class="h-96 w-full cover" />
          </li>
          <li class="splide__slide" data-splide-interval="3000">
            <img src="/images/home-3.jpeg" alt="" class="h-96 w-full cover" />
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-3 text-2xl font-bold text-center text-primary">
      Technological University Pathein
    </div>
    <div class="mt-3 text-xl font-normal text-center text-primary">
      Student Attendance Management System
    </div>
    <div class="grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 gap-5">
      <div class="avatar mx-auto">
        <div class="w-24 rounded-full">
          <img src="/images/it.png" />
        </div>
      </div>
      <div class="avatar mx-auto">
        <div class="w-24 rounded-full">
          <img src="/images/civil.jpg" />
        </div>
      </div>
      <div class="avatar mx-auto">
        <div class="w-24 rounded-full">
          <img src="/images/ec.jpg" />
        </div>
      </div>

      <div class="avatar mx-auto">
        <div class="w-24 rounded-full">
          <img src="/images/ep.jpg" />
        </div>
      </div>

      <div class="avatar mx-auto">
        <div class="w-24 rounded-full">
          <img src="/images/mp.jpg" />
        </div>
      </div>
    </div>
    <div class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 m-3 gap-5">
      <div class="card bg-primary w-80 shadow-xl">
        <div class="card-body">
          <!-- <h2 class="card-title">Reduce Paper Work</h2> -->
          <p>
            To reduce staff workload, store and handle attendance information
            securely.
          </p>
        </div>
      </div>
      <div class="card bg-secondary w-80 shadow-xl">
        <div class="card-body">
          <!-- <h2 class="card-title">Reduce Paper Work</h2> -->
          <p>To access attendance information and generate accurate results.</p>
        </div>
      </div>
      <div class="card bg-primary w-80 shadow-xl">
        <div class="card-body">
          <!-- <h2 class="card-title">Reduce Paper Work</h2> -->
          <p>To protect information from unauthorized access.</p>
        </div>
      </div>
      <div class="card bg-secondary w-80 shadow-xl">
        <div class="card-body">
          <!-- <h2 class="card-title">Reduce Paper Work</h2> -->
          <p>
            To calculate the percentage of student attendance automatically
            without time-consuming.
          </p>
        </div>
      </div>
    </div>
    <% include ./partial/footer %>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var splide = new Splide(".splide", {
        type: "loop",
        autoplay: "play",
        perPage: 1,
      });
      splide.on("autoplay:playing", function (rate) {});
      splide.mount();
    });
  </script>
</html>
