<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Index</title>
  </head>
  <body>
    <% include ../partial/teacher_drawer %>
    <div class="my-5 text-center text-xl font-bold">Attendance Class List</div>
    <div
      class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 mx-3 lg:mx-10 gap-3 mb-3"
    >
      <% for(var i = 0; i < classList.length;i++){ %>
      <div class="card glass w-full">
        <div class="card-body">
          <div class="card-title"><%= classList[i].classId.name %></div>

          <p class="text-xl font-bold text-center">
            <%= classList[i].combination.find((item)=>
            item.teacherId.equals(teacherId)).subjectId.name %>
          </p>
          <a
            href="/teacher/viewAttendanceDetailByMonth/<%= classList[i].combination.find((item)=>
            item.teacherId.equals(teacherId)).subjectId._id %>"
            class="btn btn-primary btn-sm"
            >View Attendance</a
          >
        </div>
      </div>
      <%}%>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
</html>
