<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Index</title>
  </head>
  <body>
    <% include ../partial/teacher_drawer %>
    <div class="mt-5 text-center text-xl font-bold">Attendance</div>
    <div
      class="grid lg:grid-cols-12 md:grid-cols-1 sm:grid-cols-1 overflow-x-auto mx-1 lg:mx-10 mt-5 lg:mt-20"
    ></div>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
</html>
