<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Index</title>
  </head>
  <body>
    <% include ../partial/teacher_drawer %>
    <div class="h-screen content-center">
      <h1 class="text-xl font-bold text-center my-3">Welcome Teacher!!</h1>
      <div class="stats stats-vertical lg:stats-horizontal shadow grid mx-2">
        <div class="stat">
          <div class="stat-title">Total Subject</div>
          <div class="stat-value"><%= subjectCount %></div>
        </div>

        <div class="stat">
          <div class="stat-title">Total Times</div>
          <div class="stat-value"><%= timeCount %></div>
        </div>

        <div class="stat">
          <div class="stat-title">Total Class</div>
          <div class="stat-value"><%= classCount %></div>
        </div>
      </div>
    </div>
  </body>
</html>
