<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/dataTables.tailwindcss.css" />
    <title>Index</title>
  </head>
  <body>
    <% include ../../../partial/admin_drawer %>
    <h1 class="my-5 text-center text-2xl font-bold text-base-content">
      <%= locals.dept.name %> Department's Student List
    </h1>
    <div
      class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 my-5 mx-1 lg:mx-10 gap-5"
    >
      <% for(var i = 0; i < students.length;i++){%>
      <div class="card glass">
        <div class="card-body">
          <h2 class="text-lg font-bold"><%= students[i].classId.name %></h2>
          <a
            href="/admin/departments/<%= locals.dept.key %>/student/list/<%= students[i].classId._id %>"
            class="btn btn-primary btn-sm"
            >see more</a
          >
        </div>
      </div>
      <%}%>
    </div>
    <% include ../../partial/footerbar %>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/dataTables.js"></script>
  <script src="/javascripts/dataTables.tailwindcss.js"></script>
  <script>
    new DataTable("#example");
  </script>
</html>
